Day4/Day4_NewsDigest.json
{
  "name": "Daily Placement News Digest",
  "nodes": [
    {
      "parameters": {
        "url": "=https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "id": "57e46489-add9-4649-a48d-0927ad1d702c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba390654-c4f7-4dbf-9dfd-9152db72e9ad",
              "name": "digest",
              "value": "• AI hiring demand continues to grow. • Cloud and DevOps skills remain highly valued. • Companies are investing heavily in GenAI initiatives. • Placement preparation should focus on aptitude and coding. • Students should strengthen project portfolios and certifications.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -448
      ],
      "id": "f80c86cd-8464-40fa-ab9b-a1ee9b1fdd3d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "From Email",
        "toEmail": "To Email",
        "subject": "Placement News Digest — {{$now.format(\"dd MMM yyyy\")}}",
        "emailFormat": "text",
        "text": "=Good morning. Today's placement news digest:\n\n{{ $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}\n\nSent automatically by n8n at 7:00 AM IST.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "214fd523-b5ce-4422-a1b1-92c6847f18d9",
      "name": "Send an Email",
      "webhookId": "09341416-b56a-476f-be3c-7bb9833eaf25",
      "credentials": {
        "smtp": {
          "id": "KOPuyYtU0HrPNLaF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        0
      ],
      "id": "6e18b89e-4d07-4568-8d4f-cc3e463699bb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "< YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Summarise these RSS items into exactly 5 bullets for a placement coach. Highlight hiring, layoffs, internships, expansion plans, and technology demand changes.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "8b906d55-a4ab-41a9-9b19-19c03d1a9423",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst newsText = items\n  .map(item =>\n    `- ${item.json.title}: ${item.json.contentSnippet || ''}`\n  )\n  .join('\\n');\n\nreturn [\n  {\n    json: {\n      newsText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "5e6b5f50-0670-4f5b-bd33-624cdecdc326",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aae28ed8-31b3-47d2-a558-31352231d39e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69bb1d8254d97522fa120b3c7b02960daf644d82154da28da2ef5a9f3260def0"
  },
  "nodeGroups": [],
  "id": "ytQeGKSY5BJsIMzC",
  "tags": []
}